<div class="card user-card text-white">
    <div class="background bg-info">
        <img class="img-fluid profile-pic rounded-circle border-2 border-white" [src]="user.avatar_url" alt="">
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{user.name}}
        </h5>
        <p class="card-text">
            REPOS: {{user.public_repos}}
        </p>
        <p class="card-text">
            Company: {{user.company}}
        </p>
        <p class="card-text">
            Updated at: {{user.updated_at | date: 'shortDate'}}
        </p>
    </div>
</div>
